/** Page Blog */

.blog-card{
    display:flex;

    gap: 1rem;
  
    justify-content:space-between;
  
    width:420px;
  
    border: 1px solid #B69D78;

    margin: 50px;
    padding: 5px;
    align-items: center;
}

img.foto-blog{
    height: auto;
    max-width: 50px;
    border-radius: 15px 15px 0 0;
}

